h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
    color: goldenrod;
}
body {
    background-color: lightsteelblue;
}
ul {
    list-style-position: inside;
}
a {
    font-style: italic;
}

div {
    text-align: center;
}
.navzone {
    border: 2px solid goldenrod;
}
.extreme {
    color: tomato;
}
.content {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#head1 {
    font-weight: bold;
}
